<div class="answer">
  <div class="answer__container">
      <div class="answer__img">
          <img ng-src="{{question.image.src}}" alt="">
      </div>
      <div class="answer__result">

          <div class="answer__eval">
              <div class="is-right" ng-show="isRight()">
                  <i class="glyphicon glyphicon-thumbs-up"></i>
              </div>
              <div class="is-wrong" ng-show="!isRight()">
                  <i class="glyphicon glyphicon-thumbs-down"></i>
              </div>
          </div>
          <!--<div class="answer__value">-->
              <!--{{answer.value}}-->
          <!--</div>-->
          <div class="answer__btn">
              <p>
                  ask your friends on facebook:
              </p>

              <a  ng-href="#" >Ask Friends?</a>
          </div>

      </div>



  </div>
</div>


