<div class="answer">
  <div class="answer__row row">
    <div class="answer__col-1 col-lg-6">
      <div class="answer__result is-right text-center" ng-show="isRight()">
        <i class="glyphicon glyphicon-thumbs-up"></i>
      </div>
      <div class="answer__result is-wrong text-center" ng-show="isWrong()">
        <i class="glyphicon glyphicon-thumbs-down"></i>
      </div>
      <h1 class="answer__phrase text-center">{{answer.value}}</h1>

      <button type="submit" class="answer__btn btn btn-block">Une autre image?</button>
    </div>
    <div class="answer__col-2 col-lg-6">
      <div class="answer__img">
        <img ng-src="{{question.image.src}}" alt="">
      </div>
    </div>
  </div>
</div>


