@import "compass";
.answer{
  .answer__container{
    @include make-row();
    .answer__img{
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(6);
      @include make-lg-column(6);

      img{
        width:100%;
      }
    }
    .answer__result{
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(6);
      @include make-lg-column(6);

      .answer__eval{
        @extend .text-center;
        .is-right{
          color: #2CC23D;
        }
        .is-wrong{
          color: #E53836;
        }
        i{
          font-size: 15em;
        }

      }
      .answer__value{
        @extend .text-center;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        background-color: #F5F5F5;
        color: #D8D8D8;
        font-size: 4em;
        border-radius: 4px 4px;
        text-shadow: 1px 1px #fff;
        margin:0.5em 0;
      }

      .answer__btn{
        margin: 3em 0;
        background-color: rgb(241, 245, 250);
        padding: 16px;
        border-radius: 4px 4px;
        p{
          font-size:1.2em;
          color: #A9A9A9;
          @extend .text-center;
        }
        a{
          @extend .guess-btn-primary;
        }
      }
    }

  }

}
