@import "compass";

.question{
  .question__container{
    @include make-row();
    .question__img{
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(6);
      @include make-lg-column(6);
      img{
        width:100%;
      }
    }
    .question__form{
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(6);
      @include make-lg-column(6);
      .question__phrase{
        @extend .text-center;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        color:#000000;
      }
      .question__input{
        @extend .form-group;
        input{
          @extend .form-control;
          @include border-radius(0);
          @extend .text-center;
          border:3px solid #000000;
          font-size: large;
          height: 40px;
          &:focus{
            border-color: #22B14C;
            outline: 0;
            outline: thin dotted \9;
            box-shadow:none;
          }
        }
      }
      .question__btn{
       @extend .guess-btn-primary;
      }
    }
  }
}
