@import "compass";
.question{
  .question__phrase{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    color:#000000;
  }
  .question__img{
    img{
      width:100%;
    }
  }
  .question__input{
    input{
      @include border-radius(0);
      border:3px solid #000000;
      font-size: large;
      height: 40px;
      &:focus{
        border-color: #22B14C;
        outline: 0;
        outline: thin dotted \9;
        box-shadow:none;
      }
    }
  }
  .question__btn{
    @include border-radius(0);
    background-color: #22B14C;
    color:#ffffff;
    font-size: 23px;
    font-weight: bolder;

    &:hover{
      color:#ffffff;
    }
  }
}
